*{
    padding: 0px;
    margin: 0px;
}
*, *:before, *:after{
    box-sizing: boder-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* font-family: Poppins; */
}
.banner-text p{
    font-size: 20px;
    font-weight: 300;
}
.banner-text h1{
    font-size: 45px;
    font-weight: 800;
    padding: 0px 0px 10px 0px;
}
@media (max-width: 767px){
.banner-text h1 {
    font-size: 33px;
    font-weight: 800;
    padding: 0px 0px 10px 0px;

}
.banner-text h3 {
    font-size: 20px !important; 
    font-weight: 300;
}

}
.banner-text h3{
    font-size: 25px;
    font-weight: 300;
}
h1 span{
    color: #4ED7B2;
}
h3 span{
    color: #4ED7B2;
    font-weight: 700;
}
/* navbar-2 */
#navbar{
    background-color: #16122C;
}
.ri-menu-line{
    color: #4ED7B2;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #16122C;
    padding: 10px 0px 10px 0px;
}
.navbar li{
    font-size: 15px;
    line-height: 18px;
    font-style: normal;
    letter-spacing: normal;
}
.navbar a{
    text-decoration: none;
    color: #4ED7B2;
    display: block;
}
.navbar a:hover{
    text-decoration: none;
    color: white;
}
.logo{
    margin-right: ;
}
.list{
    list-style: none;
    display: flex;
    margin: 0px;
}
#toggler,
.navbar label{
    display: none;
}
@media screen and 
(max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}
/* navbar-2 end */
/* banner-bg*/
#banner{
    background-color: #16122C;
    color: white;
    height: 100vh;
    /* position: relative;
    top: 57px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
@media(max-width: 767px){
    #banner{
        background-color: #16122C;
        color: white;
        height: 100%;
        margin-top: 50px;
        /* margin-bottom: 50px; */
        /* position: relative;
        top: 57px; */
    }
}
/* banner-bg*/
/*slign-up and signin- buttons*/
@media(max-width: 767px){
    }.buttons{
        /* margin-bottom: 50px; */
}
/* banner-content */
@media(max-width: 767px){
    .banner-image-link{
    margin-left: auto;
    width: 75%;
    margin-right: auto;
    }
}

.banner-content{
    height: 750px;
}
.banner-img{
    display: contents;
}
.col-sm-6{
    display: flex;
    justify-content: center;
}
@media(max-width: 767px){
    .buttons{
        flex-direction: column;
    }
}

.btn-signin{
    /* max-width: 230px; */
    width: 100%;
    height: 50px;
    background: ;
    border: 1px solid #55D4AB;
    border-radius: 10px;
    background: transparent;
    color: #55D4AB;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
    outline: none;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}
.btn-signin:hover{
    box-shadow: inset 300px 0 0 0 #55D4AB;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.btn-get-started{
    /* max-width: 230px; */
    width: 100%;
    height: 50px;
    background: ;
    border: none;
    border-radius: 10px;
    background-color: #55D4AB;
    color: white;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
    outline: none;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}
.btn-get-started:hover{
    box-shadow: inset 300px 0 0 0 white;
    cursor: pointer;
    color: #55D4AB;
    border: none;
    text-decoration: none;
}

/*mew-features-sections-2*/
.features-container-bg{
    background-color: white;
    justify-content: space-around;
    align-items: center;
    row-gap: 30px;
}
.features-and-Advantages-p-text{
    font-size: 16px;
    text-align: center;
    line-height: 22px;
}
.features-text{
    font-size: 18px;
}
.features-p-text{
    font-size: 16px;
    line-height: 18px;
}
.card-wraper{
    width: auto;
    height: auto;
}
.card-title{
    font-size: 20px;
}
/* features*/
.features-cards{
    /* margin-bottom: 15px; */
 }
.features-row{
    /* row-gap: 33px; */
}
@media(max-width: 767px){
    .features-row{
        /* display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: auto; */
    }
}

.card{
    width: 230px;
    height: 230px;
    /* padding: 10px; */
    border: none;
    border-radius: 0px;
}
@media(max-width: 767px){
    .card{
        width: 100%;
        height: 200px;
        /* padding: 10px; */
        border: none;
        border-radius: 0px;
        /* margin-bottom: 25px; */
    }
}
.image-bg{
    width: 70px;
    height: 70px;
    background-color: #BBEEDD;
    border: 1px solid #4ED7B2;
    border-radius: 100%;
    margin-bottom: 10px;
}
.container-flude{
    background-color: #55D4AB;
}
.features{
    display: flex;
    align-items: center;
    /* height: 300px; */
    width: auto;
    margin: 35px;
}
.col h2{
    font-size: 35px;
    font-weight: 400;
    line-height: 60px;
}
.col h1{
    color: #319172;
    font-size: 37px;
    font-weight: 700;
}
@media(max-width: 767px){
    .col h1{
        color: #319172;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
}
.col .heading-text p{
    font-size: 30px;
}
.features-section{
    background-color: white;
    /* text-align: center; */
}
.adva-peragraph{
    font-size:16px;
    font-weight: 400;
}
.heading{
    font-size:18px;
    font-weight: 400;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
}
.adva-bold-heating{
    font-size: 25px;
    line-height: 18px;
    font-weight: 800;
}
/*new-advantages-*/
.advantages-align{
    margin: auto;
    padding: 15px;
    }
}
@media(max-width: 767px){
    .advantages-align{
    text-align: center;
    }
}
#new-adnantages-section{
    background-color: white;
}
.new-adnantages-section-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: auto;
    /* display:grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,5fr)); /*this */
    /*gap:10px; */
}
.new-adnantages-section-list li a{
    color: #A7A7A7;
    background-color: #EFF7FA;
    padding: auto;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 65px;
    border-radius: 5px;
    height:50px;
    flex:100px;
}
.new-adnantages-section-list li a:hover{
    color: white;
    background-color: #319172;
    padding: auto;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 65px;
    border-radius: 5px;
}
/* adventages */
.advantages-buttons{
    text-align: center;
}
.advantages-feature a{
    /* font-size: 22px;
    font-weight: 300;
    color: #000000; */
    list-style: none;
    /* border: none; */
    text-decoration: none;
    color: #A7A7A7;
    /* background-color: #EFF7FA; */
}
.advantages-feature a:hover{
    /* font-size: 22px;
    font-weight: 300;
    color: #000000; */
    list-style: none;
    /* border: none; */
    text-decoration: none;
    color: white;
    /* background-color: #EFF7FA; */
}
.advantages-feature a h3{
    font-size: 22px;
    font-weight: 300;
    color: #000000;
    list-style: none;
    border: none;
    text-decoration: none;
    color: #A7A7A7;
    /* background-color: #EFF7FA; */
}
.advantages-feature a h3:hover{
    font-size: 22px;
    font-weight: 300;
    color: white;
    list-style: none;
    border: none;
    text-decoration: none;
    color: white;
    background-color: #319172;
}
@media(max-width: 767px){
    }.advantages-feature{
        margin-bottom: 10px;
}
.alignment-of-adventages{
    margin: auto;
}
@media(max-width: 767px){
    .alignment-of-adventages{
        text-align: center;
        margin: 10px;
    }
}
.advantages{
    border: 1px solid #EFF7FA;
    background-color: #EFF7FA;
    border-radius: 5px;
    /* background: #EFF7FA;
    width: 100%;
    /* border: 1px solid black; */
    /* border-radius: 5px;
    text-align: center; */ */
}
.advantages:hover{
    background-color: #319172;
    /*width: 100%;
    /* border: 1px solid black; */
    /* border-radius: 5px;
    /*text-align: center;*/
}
/* contact-us-section*/
.contact_wrapper{
    background-color: #B8FFE8;
    padding: 15px;
}
.how-can-help{
    font-size: 8px;
}
@media(max-width: 767px){
    .form-p{
        text-align: center;
    }
}
.form-btn{
    width: 100%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    background-color: #16122C;
    color: white;
}
.form-btn a{
    width: 100%;
    height: 50px;
    border: 0px;
    color: #55D4AB;
    text-decoration: none;
}
.form-btn a:hover{
    width: 100%;
    height: 50px;
    border: 0px;
    color: white;
    text-decoration: none;
}

/*footer-2*/
#footer-section{
    background-color: #16122C;
    padding: 20px;
}
.footer-container{
    max-width: 1140px;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.col-footer{
    width: 25%;
    padding: 0 15px;
}
.col-footer h4{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    /* position: relative; */
}
.col-footer h4::before{
    content: '';
    /* position: absolute; */
    left: 0;
    bottom: -10px;
    background-color: #55D4AB;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}
@media(max-width: 767px){
    .col-footer h4::before{
        content: '';
        /* position: absolute; */
        left: 0;
        bottom: -10px;
        background-color: #55D4AB;
        height: 2px;
        box-sizing: border-box;
        width: 80px;
        text-align: center;
    } 
}  
.col-footer ul li:not(:last-child){
    margin-bottom: 10px;
} 
.col-footer ul li a{
    font-size: 15px;
    text-transform: capitalize;
    Color: #55D4AB;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
}
.col-footer ul li a:hover{
    color: white;
    padding-left: 8px;
}
li{
    list-style: none;
}
.social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #55D4AB;
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: white;
    transition: all 0.3s ease;
}
.social-links a:hover{
    color: #55D4AB;
    background-color: white;
}
/* responsive */
@media(max-width: 767px){
    .col-footer {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
}
@media(max-width: 574px){
    .col-footer {
        width: 100%;
        text-align: center;
    }
}
input,
input::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 3;
}
textarea::placeholder {
    font-size: 12px;
}

/*footer-2-exit*/
/*social-media*/
.social-media-bg{
    background-color: #16122C;
}
.social-media-icon a{
    width: auto;
}
/*cookies-and-privacy*/
.accept-bg{
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.accept-btn{
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        /* margin: 4px 2px; */
        cursor: pointer;
        background: none;
        padding: 10px;
}
.cookies p{
    font-size: 15px;
    font-weight: 300;
    color: white;
}
.cookies a{
    font-size: 14px;
    font-weight: 300;
    color: #55D4AB;
}
.cookies a:hover{
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: white;
}
.accept-bg p{
    font-size: 14px;
    font-weight: 500;
}
.accept-btn{
    text-decoration: none;
    list-style: none;
    border: none;
}
.cookies-privacy{
    background-color: black;
    padding: 10px;
    height: auto;
    opacity: 075%;
}
/*social-media-icons*/
/*copyright*/
.copyright{
    background-color: #16122C;
    color: white;
    /* border-top: 1px solid white; */
}
.copyright-text{
    font-size: 14px;
}
#consentNotice{
    display: None;
}