.trial_container {
  width: 100vw;
  height: 100vh;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.trial_box {
  height: 100%;
}

.trial_header {
  height: 20%;
  background-color: #14122c;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.trial_header > span {
  margin-top: 1.5rem;
  font-size: xx-large;
}

@media screen and (max-width: 480px) {
  .trial_header > span {
    font-size: x-large;
  }
}

.trial_body {
  width: 95%;
  border-radius: 5px;
  background: #bbeedd;
  margin: auto;
  position: relative;
  top: -4rem;
  overflow: auto;
}
