.calculator-main-section-box {
  background-color: #4e5477;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 50px;
  width: 100% !important;
}
.calculator-main-section-box .cloudify-header-text-box {
  font-size: 30px;
  font-weight: bold;
}
.calculator-main-section-box .cloudify-head-text-box {
  color: #9b9fb2;
}
.calculator-main-section-box .choose-plan-section-box {
  background-color: #05173c;
  margin: 1rem 3rem !important;
  border-radius: 5px;
}
.calculator-main-section-box .montly-section-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
.calculator-main-section-box .pay-section-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
.calculator-main-section-box .selected-box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: #69d5ab;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.calculator-main-section-box .number-of-days-section-box {
  margin: 0rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-radius: 5px;
  align-items: center;
  padding: 0.5rem 1.5rem;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.calculator-main-section-box .session-execution-box {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.calculator-main-section-box .textField {
  height: 0px !important;
}
.calculator-main-section-box .isoSlider {
  margin-top: 20px !important;
}
.calculator-main-section-box .enter-manually-section-box {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  font-size: 12px;
}
.calculator-main-section-box .no-box {
  position: relative;
  top: 15px;
  color: #b7b7b7;
  z-index: 1;
}
.calculator-main-section-box .manually-text-box {
  position: relative;
  top: 31px;
  color: #b7b7b7;
  z-index: 1;
  right: 14px;
}
.calculator-main-section-box .total-session-box {
  background-color: #05173c;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.calculator-main-section-box .total-usage-box {
  background-color: #05173c;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.8rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.calculator-main-section-box .total-session-box span {
  color: #b5b7b9;
}
.calculator-main-section-box .total-usage-box span {
  color: #b5b7b9;
}
.calculator-main-section-box .total-cost {
  text-align: center;
  background-color: #05173c;
  margin-top: 2rem;
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.calculator-main-section-box .divider {
  background-color: #69d5ab;
  margin: 1.5rem;
}
.calculator-main-section-box .count-section {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}
.calculator-main-section-box .paragraph {
  color: #b5b7b9;
  font-size: 10px;
  position: relative;
  top: 1px;
}
.calculator-main-section-box .btn-section {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 2rem;
}
.calculator-main-section-box .contact-us {
  background: #232949;
  padding: 0.4rem 3rem;
  border: 0.5px solid #547f87;
  border-radius: 2px;
  cursor: pointer;
}
.calculator-main-section-box .reset {
  background: #232949;
  padding: 0.4rem 4rem;
  border: 0.5px solid #5f667c;
  border-radius: 2px;
  cursor: pointer;
}
.calculator-main-section-box .know-more {
  background: #69d5ab;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  color: black;
}
.calculator-main-section-box .cost {
  color: #69d5ab;
  margin-top: 35px !important;
  font-size: 25px;
}
.calculator-main-section-box .cost span {
  color: white;
  font-size: 30px;
}
.calculator-main-section-box .numberofdays-section {
  display: flex;
}
.numberofdays-section .manual-text {
  color: #c2c2c2;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-main-section-box .checkbox {
  color: #69d5ab !important;
}
.calculator-main-section-box .checkbox-before {
  color: gray !important;
}
@media screen and (max-width: 610px) {
  .calculator-main-section-box {
    margin-top: 20px;
  }
  .calculator-main-section-box .btn-section {
    margin: 0px;
  }
  .calculator-main-section-box .choose-plan-section-box {
    margin: 0rem !important;
  }
  .calculator-main-section-box .number-of-days-section-box {
    margin: 0.5rem;
    flex-direction: column;
  }
  .calculator-main-section-box .choose-plan-container-box {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .calculator-main-section-box .session-execution-box {
    margin: 0px 1px !important;
  }
  .calculator-main-section-box .number-box {
    padding-left: 0px !important;
  }
  .calculator-main-section-box .textField-box {
    width: 90% !important;
    position: relative !important;
    right: 10px !important;
    height: 0px !important;
  }
  .calculator-main-section-box .isoSlider-box {
    width: 90% !important;
  }
  .calculator-main-section-box .manually-text-box {
    position: relative;
    right: 45px;
  }
  .calculator-main-section-box .session-box {
    padding-left: 0px !important;
  }
  .calculator-main-section-box .total-session-box {
    margin-top: 0px;
    width: 86%;
    font-size: 12px;
  }
  .calculator-main-section-box .total-usage-box {
    width: 86%;
    font-size: 12px;
  }
  .calculator-main-section-box .count-section {
    display: flex;
    flex-direction: column;
  }
  .calculator-main-section-box .btn-section {
    display: flex;
    flex-direction: column;
  }
  .calculator-main-section-box .contact-us {
    margin-top: 20px;
  }
  .calculator-main-section-box .total-cost {
    width: 86%;
  }
  .calculator-main-section-box .know-more {
    width: 86%;
  }
  .calculator-main-section-box .numberofdays-section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .calculator-main-section-box {
    margin-top: 20px;
  }
}
